python-whois==0.9.4
ip2geotools==0.1.6
dnspython==2.6.1
wget==3.2
requests==2.32.3
beautifulsoup4==4.12.3
python-Wappalyzer==0.3.1
phonenumbers==8.13.43
colorama==0.4.6
python-nmap==0.7.1
sockets==1.0.0
wafw00f==2.2.0
pwntools==4.13.0